# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env/
.env.bak/
*.venv/

# -------------------------
# Jupyter / IPython
# -------------------------
.ipynb_checkpoints/
.profile
.python-version

# -------------------------
# MLflow
# -------------------------
mlruns/        # MLflow local tracking directory
mlartifacts/   # MLflow artifacts if stored locally

# -------------------------
# OS / Editor junk
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
